<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <% if(typeof message !== 'undefined' && message) {%>
        <p><%= message %></p>
        <% } %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%=user._id %>/foods/new">Add a New Item</a>
    <% if (typeof pantry !== 'undefined' && pantry.length > 0) { %>
    <ul>
    <% pantry.forEach((food)=> { %>
        <li>
            <%= food.name %>
            <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
            <a href="/users/<%= user._id %>/foods/<%=food._id %>">View</a>
            <a href="/users/<%= user._id %>/foods/<%=food._id %>/edit">Edit</a>
        </li>
    <% }) %>
    </ul>
    <% } else { %>
        <p>There are no items in this pantry.</p>
    <% } %>
</body>
</html>